<launch>
	<node pkg="dynamic_reconfigure" type="dynparam" name="kinect_set" args="set_from_parameters /camera/driver">
		<param name="image_mode" value="2" />
		<param name="depth_mode" value="2" />
		<param name="depth_registration" value="true" />
	</node>
	
	<node pkg="object_recognition" type="image_view" name="image_view" output="screen"/>

</launch>
