<launch>
	<arg name="kinect_robot_connected" default="false" />

	<!-- open kinect or kinect_webcam from robot-->
	<include if="$(arg kinect_robot_connected)"
		file="$(find hardware_bridge)/launch/open_kinect_webcam.launch">
	</include>
	<include unless="$(arg kinect_robot_connected)"
		file="$(find openni_launch)/launch/openni.launch">
	</include>

	<node pkg="dynamic_reconfigure" type="dynparam" name="kinect_set" args="set_from_parameters /camera/driver">
		<param name="depth_registration" value="true" />
	</node>
	
	<node pkg="object_detection" type="object_shapes" name="object_shapes" output="screen"/>
	<node pkg="object_detection" type="table_shapes" name="table_shapes" output="screen"/>

</launch>
